---
Checks: >
    -*,
    bugprone-argument-comment,
    bugprone-assert-side-effect,
    bugprone-branch-clone,
    bugprone-inaccurate-erase,
    bugprone-incorrect-roundings,
    bugprone-integer-division,
    bugprone-misplaced-operator-in-strlen-in-alloc,
    bugprone-misplaced-pointer-arithmetic-in-alloc,
    bugprone-macro-parentheses,
    bugprone-macro-repeated-side-effects,
    bugprone-move-forwarding-reference,
    bugprone-multiple-statement-macro,
    bugprone-narrowing-conversions,
    bugprone-not-null-terminated-result,
    bugprone-posix-return,
    bugprone-redundant-branch-condition,
    bugprone-sizeof-container,
    bugprone-sizeof-expression,
    bugprone-string-constructor,
    bugprone-suspicious-enum-usage,
    bugprone-suspicious-memset-usage,
    bugprone-suspicious-string-compare,
    bugprone-too-small-loop-variable,
    bugprone-undefined-memory-manipulation,
    bugprone-unused-return-value,
    bugprone-use-after-move,
    clang-analyzer-core.NullDereference,
    clang-analyzer-deadcode.DeadStores,
    clang-analyzer-unix.API,
    clang-analyzer-unix.Malloc,
    clang-analyzer-unix.MallocSizeof,
    clang-diagnostic-format,
    clang-diagnostic-inconsistent-missing-override,
    clang-diagnostic-non-virtual-dtor,
    clang-diagnostic-reorder,
    clang-diagnostic-shadow,
    clang-diagnostic-undef,
    clang-diagnostic-unused,
    cppcoreguidelines-macro-usage,
    cppcoreguidelines-special-member-functions,
    modernize-use-override,
    modernize-use-using,
    performance-for-range-copy,
    performance-move-const-arg,
    performance-unnecessary-value-param
...